* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    color: black;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}

#game {
    font-size: 100px;
    color: white;
}

.grid {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    display: flex;
    margin: 10 px;
    margin-top: 10px;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;

}

.card,
.back,
.front {
    height: 200px;
    width: 200px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background: url('./sakura.jpg') no-repeat center center;
}

.back {
    transform: rotateY(180deg);
}

.selected {
    transform: rotateY(180deg);
}

.match {
    visibility: hidden;
}